<h1 mat-dialog-title>Registro Insumo</h1>

<div mat-dialog-content>

  <mat-form-field>
    <mat-label>Insumo</mat-label>
    <input matInput [(ngModel)]="data.descripcion" (keypress)="keyPressAlpha($event)" (ngModelChange)="data.descripcion=$event.toUpperCase().trim()" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select placeholder="Selecciona unidad"  [(ngModel)]="data.unidad"
    [compareWith]="objectCompararUnidadFunction">
       <mat-option *ngFor="let p of (unidades$ | async)" [value]="p" >
           {{p.nombre}}
       </mat-option>
   </mat-select>
</mat-form-field>
  <mat-form-field appearance="fill">
    <mat-select placeholder="Selecciona categoria insumo"  [(ngModel)]="data.categoriaInsumo"
    [compareWith]="objectCompararCategoriaInsumoFunction">
       <mat-option *ngFor="let p of (categoriaInsumos$ | async)" [value]="p" >
           {{p.nombre}}
       </mat-option>
   </mat-select>
</mat-form-field>
  <mat-form-field appearance="fill">
    <mat-select placeholder="Selecciona medida"  [(ngModel)]="data.medida"
    [compareWith]="objectCompararMedidaFunction">
       <mat-option *ngFor="let p of (medidas$ | async)" [value]="p" >
           {{p.nombre}}
       </mat-option>
   </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Stock minimo</mat-label>
  <input matInput [(ngModel)]="data.stockMinimo" (keypress)="keyPressNumbers($event)" (ngModelChange)="data.stockMinimo=$event.trim()" [disabled] = 'habilitado' >
</mat-form-field>
  <mat-form-field>
    <mat-label>cantidad por medida</mat-label>
    <input matInput [(ngModel)]="data.cantidadPorMedida" (keypress)="keyPressNumbers($event)" (ngModelChange)="data.cantidadPorMedida=$event.trim()" [disabled] = 'habilitado' >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Precio Sugerido</mat-label>
    <input matInput [(ngModel)]="data.precioSugerido" (keypress)="validaDecimal($event)" (ngModelChange)="data.precioSugerido=$event.toUpperCase().trim()" required>
  </mat-form-field>






   <!-- <mat-card class="result">
    <mat-card-content>
  <mat-slide-toggle matInput [(ngModel)]="data.activo">
    <mat-label *ngIf="data.activo">  Activo</mat-label>
    <mat-label *ngIf="!data.activo">  DesActivo</mat-label>
  </mat-slide-toggle>
</mat-card-content>
</mat-card> -->

</div>
<div mat-dialog-actions>
  <button mat-button (click)="registrar()" >
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>

  <button mat-button [mat-dialog-close]="data.descripcion" cdkFocusInitial>Cerrar</button>
</div>
