<h1 mat-dialog-title>Registro Producto</h1>
<div mat-dialog-content>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.nombre" (keypress)="keyPressAlpha($event)" (ngModelChange)="data.nombre=$event.trim()" [disabled] = 'habilitado' >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripcion</mat-label>
    <input matInput [(ngModel)]="data.descripcion" (keypress)="keyPressAlpha($event)" (ngModelChange)="data.descripcion=$event.toUpperCase().trim()" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input matInput [(ngModel)]="data.precio" (keypress)="keyPressAlphaNumericWithCharacters($event)" (ngModelChange)="data.precio=$event.toUpperCase().trim()" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <mat-select placeholder="Selecciona categoria producto" [(value)]="categoriaProducto"
    [compareWith]="objectComparisonFunction">

       <mat-option *ngFor="let p of (categoriaProductos$ | async)" [value]="p" >
           {{p.nombre}}
       </mat-option>
   </mat-select>
</mat-form-field>


  <mat-form-field>
    <mat-label>Stock</mat-label>
    <input matInput [(ngModel)]="data.stock"  (keypress)="keyPressNumbers($event)" (ngModelChange)="data.stock=$event.trim()" required>
  </mat-form-field>


<br/>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="registrar()" >
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>

  <button mat-button [mat-dialog-close]="data.nombre" cdkFocusInitial>Cerrar</button>
</div>

<!-- <form  [formGroup]="form" (ngSubmit)="operar()" #espForm="ngForm">

<div class="wrapper ">


  <div class="aside">
 <mat-toolbar>Productos</mat-toolbar>
       <div [hidden]="true">
          <mat-form-field appearance="fill">
              <input matInput placeholder="ID" required formControlName="id">
          </mat-form-field>
      </div>

      <mat-form-field appearance="fill" >
          <input matInput placeholder="Nombre Producto" required formControlName="nombre">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput placeholder="Descripcion" required formControlName="descripcion">
    </mat-form-field>

    <mat-form-field appearance="fill" >
      <input matInput placeholder="Precio" required formControlName="precio" >
    </mat-form-field>

    <mat-form-field appearance="fill">
             <mat-select placeholder="Selecciona categoria producto" [(value)]="categoriaProducto" formControlName="categoriaProducto"
             [compareWith]="objectComparisonFunction">

                <mat-option *ngFor="let p of (categoriaProductos$ | async)" [value]="p" >
                    {{p.nombre}}
                </mat-option>
            </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" >Registrar</button>
  </div>
  <div class="aside">
    <mat-toolbar>Insumos</mat-toolbar>
     <mat-form-field appearance="fill">
      <mat-select placeholder="Selecciona insumo" [(value)]="insumo" formControlName="insumo"
      [compareWith]="objectComparisonFunction">
      <mat-option value="">Selecciona insumo</mat-option>
         <mat-option *ngFor="let p of (insumos$ | async)" [value]="p" >
             {{p.descripcion}}
         </mat-option>
     </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" >
      <input matInput placeholder="Cantidad" required formControlName="cantidad" [(ngModel)]="cantidad">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-select placeholder="Selecciona unidad de medida" [(value)]="unidad" formControlName="unidad"
      [compareWith]="objectComparisonFunction">
      <mat-option value="">Selecciona unidad</mat-option>
         <mat-option *ngFor="let p of (unidades$ | async)" [value]="p" >
             {{p.nombre}}
         </mat-option>
     </mat-select>
    </mat-form-field>

    <div class="inner">
          <button mat-raised-button type="button" (click)="agregarInsumo()" >
            <mat-icon>done</mat-icon>
            <span>Agregar</span>
        </button>
        <button mat-raised-button color="accent" routerLink='/producto' type="button">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
        </button>
      </div>

  </div>
  <div class="aside2">


  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let ex of productoDetalleArr; let i = index">
      <p class="b"><span style="font-weight: bold;"> INSUMO:</span> {{ex.insumo.descripcion}} &nbsp; </p>&nbsp;
      <p class="b"><span style="font-weight: bold;">CANTIDAD:</span>  {{ex.cantidad}} &nbsp; </p>&nbsp;
        <p class="b"><span style="font-weight: bold;">UNIDAD:</span>  {{ex.unidad.nombre}} &nbsp; </p>&nbsp;
        <button mat-raised-button color="warn" (click)="removerInsumo(i)">Remover</button>
    </mat-list-item>
</mat-list>

  </div>
</div>
</form> -->
