.wrapper {
  /* We first create a flex layout context */
  display: flex;
  flex-direction: row;
  /* flex-flow: row wrap; */
  /* justify-content: space-around; */
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* We tell all items to be 100% width, via flex-basis */
/* .wrapper > * {
  flex: 1 100%;
} */

/* Medium screens
@media all and (min-width: 600px) {

  .aside { flex: 1 auto; }
} */

/* @media all and (min-width: 800px) {
} */


.aside {
  display: flex;
  border-color: gray;
  border-style: ridge;
  margin-top: 10px;
  align-content: flex-start;
  align-items: stretch ;
  flex-direction: column;
  width: 400px;

}

.aside2 {
  display: flex;
  border-color: gray;
  border-style: ridge;
  margin-top: 10px;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  width: 350px;
}
.mat-form-field{
  width: 100%;
}

body {
  padding: 2em;
}

.mat-column-insumo{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 17% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-cantidad{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 17% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-unidad{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 17% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

p.b {
  white-space: pre;


}

div#item{
  border-color: violet;
  border-style: ridge;
  cursor:pointer;
}


section {
  display: table;
}



.example-button-row {
  display: table-cell;
  width: 400px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;

}


.example-form-field {
  width: 70px;

  text-align: center;
  font-size: 15px;
}

.example-full-width {
  width: 50%;
  min-width: 270px;
  max-width: 500px;

}


.conteo{
  text-align: center;
  display: inline-block;
  width: 50px;
  float: none;
}

.display-table {
  display: table;

}
.display-table > div {
  display: table-row;
}
.display-table > div > div {
  display: table-cell;
  padding: 25px;
}
.example-form-field-nombre1 {
  width: auto;
  border-color: aliceblue;
  text-align: center;
  font-size: 15px;
}

.mat-form-field-nombre1-underline {
  display: none;
  }
